body {
    margin: 0;
    padding: 0;
}

/*NAVBAR*/
nav {
  position: fixed;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -1px;
  width: 90%;
  /*max-width: 1080px;*/
      padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  background-color: white;
}
nav::after {
  background: #F4F4F1;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
}
nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
nav .nav-left {
  float: left;
}
nav .nav-right {
  float: right;
}
nav ul li {
  float: left;
}
nav ul li a {
  text-decoration:none;
  color: inherit;
  padding: 20px 0 20px 0;
  margin: 0 20px 0 20px;
}
nav ul li a:hover {
  color: #303F9F;
}
nav ul li a.active {
  color: #303F9F;
  border-bottom: solid 3px #303F9F;
}
#search {
  color: #a6a8aa;
  font-style: italic;
}

section {
    padding-top: 100px;
}

.btn-action {
    display: inline-block;
    background-color: #303F9F;
    color: #fff  !important;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-action:hover,.btn-action:focus {
    background-color: #4659d0;
}

/* Search Section Styles */

section.search{
    width: 800px;
    display: block;
    margin: auto;
}

/* Search Query List CSS */
ul.search-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.search-list > li.search-item-header > span.date {
    font-size: 22px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

ul.search-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.search-items-child{
  position: relative;
}

li.search-items-child:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

ul.search-items li.search-items-child {
    display: block;
    font-size: 13px;
    cursor: default;
    padding: 13px 10px 10px 10px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s ease 0.1s;
}

ul.search-items li.search-items-child span.time {
    color: rgba(0,0,0,0.5);
    display: inline-block;
    margin-right: 20px;
}

li.search-items-child span.link_count {
    display: inline-block;
    float: right;
    color: rgba(0,0,0,0.5);
}

li.search-items-child:hover span.link_count,
li.search-items-child:active span.link_count{
  display: none;
}

a.btn-down.show-links {
    display: inline-block;
    opacity: 0;
    padding: 3px;
    background-color: #303F9F;
    color: #fff !important;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s ease 0.1s;
    position: absolute;
    right: 8px;
    top: 8px;
}

a.btn-down.show-links:hover {
    padding: 4px;
}

li.search-items-child:hover a.btn-down.show-links,li.search-items-child:active a.btn-down.show-links {
    opacity: 1;
}

li.search-items-child:hover ul.search-items-child-linked-list,
li.search-items-child:active ul.search-items-child-linked-list{
  display: block;
}

li.search-items-child ul.search-items-child-linked-list {
    padding: 0;
    margin: 0;
    padding-left: 60px;
    padding-top: 10px;
    display: none;
}

li.search-items-child ul.search-items-child-linked-list li span.title {
    display: block;
    margin-bottom: 5px;
    color: rgba(0,0,0,0.7);
}

li.search-items-child ul.search-items-child-linked-list li a.url {
    text-decoration: none;
    color: #303F9F;
}

li.search-items-child ul.search-items-child-linked-list li {
    margin-bottom: 10px;
}

.empty-search {
    text-align: center;
    margin-top: 40px;
}

.empty-search div.fa {
    display: block;
    margin-bottom: 20px;
}

.text-muted {
    color: rgba(0,0,0,0.4);
}